<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
   
    <%- include('./partials/nav.ejs') %>

    <div class="About content">
        <h2>About us</h2>
        <p>Welcome to Our Blog: Explore a world of insights, inspiration, and information as we share our thoughts and experiences on various topics that matter to us.</p>
        <p>Who We Are: We are a passionate team dedicated to delivering engaging content that informs, entertains, and sparks curiosity. Join us on this journey of discovery and connection.</p>
        <p>Our Mission: At Blog Site, we strive to create a space where ideas flourish and conversations thrive. Through our diverse content, we aim to inspire, empower, and build a community of like-minded individuals who share a love for learning and discovery.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>